Body{
    background-color: #C7E6FF;
}
.navbar{
    position: fixed;
}
.intro{
    display: flex;
    align-items: center;
    gap: 2%;;
    padding-top: 5em;
    justify-content: center;
    text-align: center;
}
.intro img{
    width: 20%;
    height: 20%;
}
.intro p{
    width: 50%;
    font-family: 'Montserrat';
    font-weight: bold;
}
.meutexto{
    font-size: 1em;
}
/* .titulo{
    padding-top: 5%;
    font-family: 'Montserrat';
    text-align: center;
    font-size: 2.5em;
}
.carossel{
    padding-top: 8%;
    width: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.carossel img{
    width: 100%;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
} */
.trabalhos{
    padding-top: 3em;
    padding-bottom: 2em;
}